<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Symfony!</title>
  </head>
  <body>
    <ul>
      {% for user in conn %}
      <li>{{ user }}</li>
      {% endfor %}
    </ul>
    {# ... #}
  </body>
</html>
